        body{
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-family: 'Markazi Text', serif;
            font-family: 'Mouse Memoirs', sans-serif;
            font-family: 'Work Sans', sans-serif;
            margin: 0px;
        }
        .highlight{
            color: fuchsia;
            font-size: 40px;
        }
        .sizeby{
            padding-top: 80px;
            font-size: 30px;
        }
        .half-width{
            width: 38%;
            float: left;
            margin: 1%;
            padding: 20px 70px 35px 55px;
            

        }
        .half-width img{
            width: 102%;
            
        }
        section{
            height: 450px;
            padding-bottom: 100px;
        }
        .link-button{
            text-decoration: none;
            background-image: linear-gradient(#e94971,#e40da3);
            padding: 9px 25px;
            border-radius: 5px;
            color: white;

        }
        .half img{
            width: 200%;
        }
        .obb-sizeby{
            padding-top: 220px;
            text-align: center;
            font-size: 30px;
        }
        .work-width{
            width: 13%;
            float: left;
            margin-left: 2em;
            margin-right: 5em;
            padding: 10px 50px 20px;
          
        }
        
        h4{
            font-size: 18px;
            text-align: center;
        }
        h5{
            text-align: center;
            padding-top: 0;
            color: gray;
        }
        .lorem-size{
            text-align: center;
        }

        .a-width{
            text-decoration: none;
                background-image: linear-gradient(rgb(219, 9, 44),#e2159e);
                padding: 50px 40px 40px 40px;
                border-radius: 5px;
                margin: 90px 60px 10px 460px;
                color: white;
                
                
              }
       
        footer{
            text-align: center;
        }